table
{
    /* background-color: #0f7d49; */
    text-align: justify;
    color: white;
    font-family: 'Roboto', sans-serif;
    box-shadow: 4px 4px 5px -2px #777;
}
th
{
    min-width: 300px;
    background-color: #0f7d49;
    color: rgb(255, 255, 255);
    font-weight: 500;
    padding-left: 50px;
    box-shadow: 2px 2px 5px -2px #777;
}
td
{
    min-height: 500px;
    color: black;
    box-shadow: 4px 4px 5px -2px #777;
    padding-left: 20px;
}